*~
~*
*.swp
*.swo
application/logs/*.php
application/cache/*
*.zip
*.rar
*.temp
application/tags
tags

# tests err report
tests/*.err

# here is ignore for aptana
.project
.settings
static/uploads

#my file
cx/

.setting
.buildpath
.project
bin
application/config/database.php
application/config/memcached.php
application/config/siteconf.php

static/site/img/mobile/*.png


pma
mem


/nbproject/private/
/nbproject

script/gitconfig.sh

static/test_system/local_cookie.txt
static/test_system/cookie.txt
static/test_system/feng.php

accessory/esg_test_config.php.bak

static/test_system/

